name: Cypress Tests

on:
  workflow_dispatch:

jobs:
  cypress-run:
    runs-on: ubuntu-22.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set environment variables
        run: |
          echo '${{ secrets.CYPRESS_ENV_JSON }}' > cypress.env.json

      - name: Cypress run
        uses: cypress-io/github-action@v6
        env:
            CYPRESS_NAME: ${{ secrets.NAME }}
      
      - name: Archive test reports
        uses: actions/upload-artifact@v2
        with:
          name: cypress-reports
          path: |
            cypress/reports
            cypress/screenshots
